
#goToMenu{
    overflow-y: scroll;
    background-size: contain;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.bg-container{
    background-image: url("images/background/tomato2-bg.jpg") ;
    background-size:cover;
    background-repeat:no-repeat;
    width:100vw;
    height:80vh;  
    grid-column: 1/5;
    grid-row: 1/5;
}

.grid-landingImage{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    height: 80vh;
    width: 100vw;  
}

.logo-container {
    padding-top: 20%;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;  
}

.menuText{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FA100E;
    font-size: 96px;
    text-align: center;
    padding-bottom: 26px;
}

.menu-btn{
    grid-column: 2/4;
    grid-row: 2/4;
}

a:active { 
    text-decoration: none; 
}

.grid-menu{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-template-rows: repeat(3, 1fr); 
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    grid-gap: 2%;
}

#info-style{
    font-size: 40px;
    color: black;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
}

#info-title{
    font-size: 64px;
    color: black;
    padding-top: 10%;
}

.header-menu{
    grid-column:3/7;
    grid-row: 1/2;
    background-color:  #FDB10D;;
    text-align: center;
    border-radius: 40px;
}

.subheader-menu {
    grid-column: 3/7;
    grid-row: 2/3;  
}

.subheader-text h3{
    font-size: 96px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 50%;
  }
  
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text-des {
    color: black;
    font-size: 16px;
    text-align: bottom;
}

.soup1{
    grid-column: 1;
    grid-row: 1; 
    color: black;
}

.soup2{
    grid-column: 2;
    grid-row: 1;
    color:black;
}

.soup3{
    grid-column: 3;
    grid-row: 1;
}

.soup4{
    grid-row:2;
    grid-column: 1;
}

.soup5{
    grid-row:2;
    grid-column: 2;
}

.soup6{
    grid-row:2;
    grid-column: 3;
}

.soup7{
    grid-row:3;
    grid-column: 1;
}

.soup8{
    grid-row:3;
    grid-column: 2; 
}

.soup9{
    grid-row:3;
    grid-column: 3;    
}

.container {
    position: relative;
    width: 33vw;
}



  @media(max-width: 800px){
  
    body{
        height: 100vh;
    }

    .subheader-text h3{
        padding-top: 15%;
        font-size:64px;
    }

    .grid-landingImage{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 50vh;
        grid-area: 
        "bg-container"
        "logo-container";

    }

    .bg-container{
        grid-area: bg-container;
        background-repeat: no-repeat;
        background-image: url("images/background/tomato2-bg-small.jpg");
        width: 100vw;
        height: 60vh;
       
    }
  .logo-container{
    grid-area: logo-container;

  }

    .grid-menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
        "soup1" 
        "soup2" 
        "soup3" 
        "soup4"
        "soup5"
        "soup6"
        "soup7"
        "soup8"
        "soup9";
        ;
        height: 100vh;
        width: 100vw;

    }
    .image {
        opacity: 1;
        display: block;
        scale: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
    
  
    #info-style{
        font-size: 18px;
        color: black;
        padding-right: .5%;
        padding-left: .5%;
  
    }
    #info-title{
        font-size: 26px;
        color: black;
        padding-top: .5%
    
    
    }
    
    .soup1{
        grid-area: soup1;
        align-items: center;
        justify-self: center;
    }
  
    .soup2{
        grid-area: soup2;
        align-items: center;
        justify-self: center; 
    }

    .soup3{
        grid-area: soup3;
        align-items: center;
        justify-self: center;
    }

    .soup4{
        grid-area: soup4;
        align-items: center;
        justify-self: center;
    }

    .soup5{
        grid-area: soup5;
        align-items: center;
        justify-self: center;
    }

    .soup6{
        grid-area: soup6;
        align-items: center;
        justify-self: center;
    }

    .soup7{
        grid-area: soup7;
        align-items: center;
        justify-self: center;
    }

    .soup8{
        grid-area: soup8;
        align-items: center;
        justify-self: center;
    }

    .soup9{
        grid-area: soup9;
        align-items: center;
        justify-self: center;
    }
}