body{
    background-color: #F7F1E3;

}

html{
    scroll-behavior: smooth;
}

p{
    font-family: swister, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    color: black;

}

h1{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #984302;
    font-size: 60px;

}

h2{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 96px;
}


h3{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 32px;
    text-align: center;
}
h4{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size:40px;
    text-align: center;
    
}
h5{
    font-family: swister, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size:16px;
    text-align: left;

}


h6{
    font-family: swister, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 54px;
    text-align: center;
    

}

.h7{
    font-family: swister, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 32px;
    text-align: justify;

}

#footer-font{
    font-size: 28px;
    color:#984302
}

.bold{
    font-weight: 700;
}


.footer-logo{
    grid-row: 1;
    grid-column: 1/2;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    overflow: hidden;
    background-color: rgba(200, 168, 142, 0.6); 
    height: 30vh;
    grid-gap: 2%;
    padding-bottom: 5%;
    color:  #984302;
}


#footer-padding{
    padding-top: 5%;
}

img.rounded-corners {
    border-radius: 10px;
  }

@media(max-width: 800px){

    body{
        height: 100vh;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        overflow: hidden;
        background-color: rgba(200, 168, 142, 0.6); 
        height: 100vh;
        padding-bottom: 5%;
        color:  #984302;
        text-align: center;
        font-size: 26px;
        justify-content: center;
        overflow: scroll;
      
    }
    #footer-font{
        font-size: 30px;
        color:#984302;
        justify-content: center;
        text-align: center;
        
    }
    
  }
  


